/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f5f9;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1);
}

/* Estilos para el menú de navegación */
nav {
    background-color: #007bff;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Para que el logo y la lista estén en los extremos */
}

nav .logo {
    height: 40px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Estilos para la sección "Qui som" */
.about-us {
    padding: 40px 0;
}

.about-us h2 {
    text-align: center;
}

.text-container {
    margin-top: 20px;
    text-align: justify;
}
