/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.logo img {
    max-width: 150px;
}

/* Estilos para el contenido */
main {
    padding: 20px 0;
}

.hero {
    background-color: #f4f4f4;
    padding: 100px 0;
    text-align: center;
}

.hero h2 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 24px;
}

.products {
    background-color: #fff;
    padding: 100px 0;
    text-align: center;
}

.products h2 {
    font-size: 48px;
    margin-bottom: 40px;
}

.product {
    margin-bottom: 40px;
}

.product img {
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 10px;
}

.product h3 {
    font-size: 24px;
    margin-top: 20px;
}

.product p {
    font-size: 18px;
}

.about {
    background-color: #f4f4f4;
    padding: 100px 0;
    text-align: center;
}

.about h2 {
    font-size: 48px;
    margin-bottom: 40px;
}

.contact {
    background-color: #fff;
    padding: 100px 0;
    text-align: center;
}

.contact h2 {
    font-size: 48px;
    margin-bottom: 40px;
}

.contact form {
    max-width: 600px;
    margin: 0 auto;
}

.contact label {
    display: block;
    font-size: 24px;
    margin-bottom: 20px;
}

.contact input,
.contact textarea {
    width: 100%;
    padding: 20px;
    margin-bottom: 30px;
    border: 1px solid #ccc;
    font-size: 18px;
}

.contact button {
    background-color: #333;
    color: #fff;
    padding: 15px 30px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s;
}

.contact button:hover {
    background-color: #555;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    font-size: 18px;
}
